@font-face {
    font-family:"Signature" ;
    src: url(../fonts/SimpleSass-Regular.ttf);
}
@font-face {
    font-family:"hand" ;
    src: url(../fonts/simpletix.otf);
}

.container-fluid, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
}

body{
    background-color: #FAEAB1;
    height: 900px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
}

#nav1{
    background-color: #E5BA73;
}

.navbar-brand{
    font-family: "Signature";
    font-size: 45px;
    padding-left: 30px;

}

h1{
    font-family: "Signature";
    margin-bottom:20px;

}

.nav-link{
    font-family: "hand";
    letter-spacing: 5px;
    margin: 10px;
}

.nav-link:hover{
    background-color: #FFB84C;
    border-radius: 10px;
}
@media (min-width: 750px) {
    #copy p{
        width: 100%;
    }
    #footer{
        width: 100%;
    }

}
@media (max-width: 360px) {
    #copy p{
        width: 100%;
    }
    #footer{
        width: 100%;
    }
}
@media (max-width: 810px) {
    #descripcion{
        width: 417px;
        height: 970px ;
        overflow: hidden;}
    
}

@media (max-width: 367px) {
        #descripcion{
            width: 100px;
            height: 480px ;
            overflow: hidden;
        }
}

@media (max-width: 449px) {
    .navbar-brand{
        font-family: "Signature";
        font-size: 30px;
        padding-left: 20px;
        letter-spacing: 10px;
    }
    body{
        height: 883px;
    }
}
img{
    border-radius: 10px;
}
.grupo1{
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 2;
    position: absolute;
    width: 4rem;
    bottom: 27rem;
    background-color: #FDEEDC;
    text-align: center;
    border-radius: 10px;
    right: 20px;
    top: 12rem;
    height: 17rem;
}

#dosRedes{
    display: flex;
    gap:1rem;
    flex-direction: column;
    position:relative;
}
i{
    font-size: 50px;
    padding: 10px;
    color:#C55300;
}
p{
    font-family: "hand";
    font-size: 18px;
}

button{
    font-family: "hand";
    width: 150px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #C58940;
}

#copy{
    position:absolute; 
    bottom:0;
    background-color: #C58940;
}
